<div ng-controller="new_pass" ng-init="forgot_pwd()">
<header class="container-fluid nav-down">
	<div class="row">
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid no-padding">
			<ul class="nav navbar-nav top_header">
			  <li class="menu_icon back_icon"><a href="#"  ><img src="assets/img/header/back.png" id="asdf" alt="menu icon" /></a></li>
			  <li class="logo_name"><a class="text-left back">New Password</a></li>
			  
			</ul>
		  </div>
		</nav>
	
	</div>
	<!-- MOBILE-MENU-AREA END -->
</header>

<!-- END HEADER -->    
<form name="forgot_password" novalidate>
    <div class="input-container pr-20 pl-20 mt-70 pt-70" id="sign_up">
      
      <div class="sign-up-form mb-20">
        <input type="password" value="" name="new_pwd" ng-model="new_pwd" placeholder="New Password" required>
        <img src="assets/img/password.png">
      </div>
      <div class="sign-up-form mb-20">
        <input type="password" value="" name="conf_pwd" ng-model="conf_pwd" placeholder="Confirm New Password" required>
        <img src="assets/img/password.png">
      </div>
    </div>
    
    

    <div class="sign-up-button mt-50">
        <a href="javascript:void(0)"><button class="btn" ng-click="forgot('forgot_password')">
            Submit
        </button></a>
    </div>
</form>
</div>  
	